*\.autogen_bak
*\.bz2
*\.desktop
*\.gmo
*\.gz
*\.la
*\.lo
*\.o
*\.pc
*\.schemas
*\.service
*~
\.deps
\.libs
Makefile
Makefile.in
a\.out
aclocal\.m4
applet/*\.in
!applet/*\.in\.in
applet/imsettings-applet
autom4te\.cache
backends/*/*-glue\.c
backends/*/*-glue\.cpp
backends/*/*-glue\.h
backends/gconf/gconf-im-settings-daemon
backends/lxde/imsettings-lxde-helper
backends/qt/moc_*\.cpp
backends/qt/qt-im-settings-daemon
backends/xfce_xfconf/imsettings-xfce-helper
backends/xim/imsettings-xim
config\.*
configure
core.*
data/*\.in
!data/*\.in\.in
data/*\.sh
data/*\.conf
depcomp
imsettings/*-bindings.h
imsettings/*-glue.h
imsettings/*-marshal.[ch]
imsettings-daemon/imsettings-daemon
install-sh
intltool-*
libtool
ltmain\.sh
missing
mkinstalldirs
po/\.intltool*
po/Makefile*
po/POTFILES
src/im-settings-daemon
stamp*
tests/test-*
utils/imsettings-info
utils/imsettings-list
utils/imsettings-reload
utils/imsettings-restart
utils/imsettings-start
utils/imsettings-stop
utils/imsettings-switch
