*\.autogen_bak
*\.bz2
*\.desktop
*\.gmo
*\.gz
*\.la
*\.lo
*\.o
*\.pc
*\.schemas
*\.service
*~
\.deps
\.libs
Makefile
Makefile.in
a\.out
aclocal\.m4
autom4te\.cache
backends/xim/imsettings-xim
config\.*
configure
core.*
data/*\.in
!data/*\.in\.in
data/*\.sh
data/*\.conf
depcomp
imsettings-daemon/imsettings-daemon
install-sh
intltool-*
libtool
ltmain\.sh
missing
mkinstalldirs
po/\.intltool*
po/Makefile*
po/POTFILES
src/im-settings-daemon
stamp*
tests/test-*
utils/imsettings-info
utils/imsettings-list
utils/imsettings-reload
utils/imsettings-switch
