*\.autogen_bak
*\.bz2
*\.gz
*\.la
*\.lo
*\.o
*\.pc
*~
\.deps
\.libs
Makefile
Makefile.in
a\.out
aclocal\.m4
applet/*\.in
!applet/*\.in\.in
autom4te\.cache
config\.*
configure
core.*
data/*\.in
!data/*\.in\.in
data/*\.sh
depcomp
install-sh
intltool-*
libtool
ltmain\.sh
missing
mkinstalldirs
po/Makefile*
po/POTFILES
stamp*

